@if (Session["Cart"] != null)
{
    <a href="@Url.Action("Index", "Cart")" ><span class="glyphicon glyphicon-shopping-cart"></span>(@(((Gartenkraft.Models.Cart)Session["Cart"]).CartItems.Count().ToString()))</a>
}
else
{
    <a href="@Url.Action("Index", "Cart")"><span class="glyphicon glyphicon-shopping-cart"></span></a>
}
