@model IEnumerable<Gartenkraft.Models.tblProduct_Image>

<table class="table">
    @*<tr>
        <th><div class="text-center">Images:</div></th>
        <th></th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content("~/ProductImages/" + item.product_id.ToString() + "/" + item.product_image_name.ToString())" style="width:100px;height:100px;display:inline-block;margin:30px;" class="btn btn-default" />
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveImage", "Upload", new { productID = item.product_id, imageName = item.product_image_name }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
