@model Gartenkraft.Models.Checkout

@{
    ViewBag.Title = "Order Confirmation";
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 style="color:#0fad00">Order Successful Order Number: @Model.InvoiceData.InvoiceID </h2>
            <br><br> <h2 style="color:#0fad00">Confirmation email sent to  @Model.InvoiceData.InvoiceEmail </h2>

            <br><br>
        </div>

    </div>
</div>



