@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
body {
  margin-top: 50px;
}
#wrapper {
  padding-left: 225px;
}
#page-wrapper {
  padding: 22px 10px;
}
/*------------------------------------------------ SIDE NAVIGATION STYLES ------------------------------------------------ */
.side-nav {
  position: fixed;
  top: 60px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  border-top: 1px rgba(0, 0, 0, 0.5) solid;
  overflow-y: auto;
  background-color: #3e423e;
  /*background-color: #5A6B7D;*/
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}
.nav.navbar-right.top-nav {
  display: inline;
  float: right;
}
.side-nav > li > a {
  width: 225px;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}
.side-nav li a:hover,
.side-nav li a:focus {
  outline: none;
  background-color: #1a242f !important;
}