@{
    ViewBag.Title = "Home Page";
}

    <section class="row text-center placeholders">
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading dark-blue">
                            <i class="fa fa-users fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content dark-blue">
                        <div class="circle-tile-description text-faded">
                            Users
                        </div>
                        <div class="circle-tile-number text-faded">
                            @{ int numusers = 0; }
                            @foreach (var item in (List<Gartenkraft.Models.AspNetUser>)ViewBag.Users)
                            {
                                numusers++;
                            }
                            @(numusers)
                            <span id="sparklineA"></span>
                        </div>
                        <a href="@Url.Action("Create")" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>

        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading red">
                        <i class="fa fa-shopping-cart fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content red">
                    <div class="circle-tile-description text-faded">
                        Orders
                    </div>
                    <div class="circle-tile-number text-faded">
                        @{ int numorders = 0; }
                        @foreach (var item in (List<Gartenkraft.Models.tblSales_Invoice>)ViewBag.Orders)
                        {
                            numorders++;
                        }
                        @(numorders)
                        <span id="sparklineC"></span>
                    </div>
                    <a href="#" class="circle-tile-footer">@Html.ActionLink("More Info", "Index","User",null,null)<i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
