
@{
    ViewBag.Title = "Error Page Not Found";
}
<div style="text-align: center; padding-top: 200px; padding-bottom: 200px;">

<h1>404 Page Not Found</h1>
    
     <label>Take me back:</label>@Html.ActionLink("GartenKraft.com", "..")

</div>