@{
    ViewBag.Title = "Home";
}

<!-- START THE FEATURETTES -->

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Gartenkraft@*<span class="text-muted">It'll blow your mind.</span>*@</h2>
        <p class="lead">Streamlined design. Elegant modern appearance. Automatic and guided hose rewind without kinks or knots.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="~/Images/XW2-S.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Starmist @*<span class="text-muted">See for yourself.</span>*@</h2>
        <p class="lead">If you're looking for a way to beat the summer heat, a misting system might be the answer for you.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive" src="~/Images/241006-sunneday-S.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">XTrim @*<span class="text-muted">Checkmate.</span>*@</h2>
        <p class="lead">Automatic irrigation dispensing with electricity and pump. Easy and safe operation.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="~/Images/wall garden-green wall-S.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->