body {
  margin-bottom: 150px;
}
/*------------------------------------------------ NAVIGATION STYLES ------------------------------------------------ */
.navbar {
  margin-bottom: 2.5rem;
}
.dropdown-menu > li > a {
  color: #444444;
}
/*------------------------------------------------ CATEGORY PRODUCT STYLES ------------------------------------------------ */
.items .product-info {
  padding: 15px;
}
.tile-container {
  position: relative;
}
a.product-tiles:hover + .link-overlay {
  display: inline-block;
  left: 50%;
  color: #333;
  position: absolute;
  text-decoration: underline;
  top: 50%;
  transform: translateX(-50%);
}
.link-overlay:hover {
  display: inline-block;
  left: 50%;
  color: #333;
  position: absolute;
  text-decoration: underline;
  top: 50%;
  transform: translateX(-50%);
}
.item a {
  color: inherit;
}
.items a:hover {
  opacity: .5;
}
.item-list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.item-list li {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 15px;
  /*transition: box-shadow 0.3s ease-in-out;*/
}
.item-list li:hover {
  /*box-shadow: 0px 5px 15px #e7e7e7;*/
}
.item-list .info {
  /*min-height: 325px;*/
}
/*------------------------------------------------ PRODUCT LISTING STYLES ------------------------------------------------ */
.item {
  margin-bottom: 2.5rem;
}
.product-images img {
  margin-bottom: 1.5rem;
}
.thumbnail-list .image-thumbnail {
  /*float: left;
    margin-right: 1rem;
    width: 50px;*/
}
.item input[type="submit"] {
  margin-top: 25px;
}
/*------------------------------------------------ FOOTER STYLES ------------------------------------------------ */
.footer {
  font-size: 90%;
  height: 150px;
  position: absolute;
}
footer #copyright {
  margin-top: 0;
}