html {
  position: relative;
  min-height: 100%;
}
body {
  color: #666666;
  padding-top: 50px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/*------------------------------------------------ NAVIGATION STYLES ------------------------------------------------ */
nav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#519032+17,71bf44+100 */
  background: #519032;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #519032 17%, #71bf44 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#519032', endColorstr='#71bf44', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
nav a:hover {
  color: #666666;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.dropdown-menu > li > a {
  color: #ffffff;
}
.nav .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav a:hover .caret {
  border-top-color: #666666;
  border-bottom-color: #666666;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/*------------------------------------------------ INDEX STYLES ------------------------------------------------ */
.carousel {
  margin-top: 30px;
}
/*------------------------------------------------ BACK TO TOP STYLES ------------------------------------------------ */
#toTop.btn-info {
  background-color: #b62d2d;
  background-image: none;
  border-color: #9c2727;
}
#toTop {
  border-radius: 50px;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 50px;
  line-height: 40px;
  opacity: .75;
  position: fixed;
  right: 20px;
  width: 50px;
}
#toTop .fa {
  font-size: 25px;
}
/*------------------------------------------------ FOOTER STYLES ------------------------------------------------ */
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  background-color: #71bf44;
  bottom: 0;
  color: #ffffff;
  /*font-size: 90%;*/
  padding: 15px 0 15px;
  width: 100%;
}
footer ul {
  text-align: center;
}
footer a {
  color: inherit;
  text-decoration: underline;
}
footer > .row {
  margin-bottom: 15px;
}
.contact-info ul,
.contact-info li {
  list-style: none;
}
.contact-info ul {
  margin-bottom: 5px;
  padding-left: 0;
}
/*#sunneday-logo:before,*/
#gartenkraft-logo:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
footer #copyright {
  margin-top: 20px;
  text-align: center;
}
/*------------------------------------------------ CATEGORY PRODUCT STYLES ------------------------------------------------ */
.items {
  /*margin-top: 20px;*/
}
.item-list {
  /*list-style: none;
    padding-left: 0;*/
}
.item-list li {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}
.item-list li:last-of-type {
  border-bottom: none;
}
.item-list img {
  margin-bottom: 1em;
}
/*------------------------------------------------ PRODUCT LISTING STYLES ------------------------------------------------ */
.thumbnail-list .image-thumbnail {
  border: 1px solid #cccccc;
  float: left;
  height: 75px;
  margin-right: 1rem;
  padding: 2px;
  width: 75px;
}
#quantity {
  /*width: 50px;*/
}
.price {
  color: #333;
  font-size: 1.5em;
}
/*------------------------------------------------ MEDIA QUERIES ------------------------------------------------ */
@media (min-width: 768px) {
  body {
    margin-bottom: 150px;
  }
  /*------------------------------------------------ NAVIGATION STYLES ------------------------------------------------ */
  .navbar {
    margin-bottom: 2.5rem;
  }
  .dropdown-menu > li > a {
    color: #444444;
  }
  /*------------------------------------------------ CATEGORY PRODUCT STYLES ------------------------------------------------ */
  .item-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
  }
  .item-list li {
    border-bottom: none;
    margin-bottom: 2.5rem;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: box-shadow 0.3s ease-in-out;
  }
  .item-list li:hover {
    box-shadow: 0px 5px 15px #e7e7e7;
  }
  .item-list .info {
    min-height: 325px;
  }
  /*------------------------------------------------ PRODUCT LISTING STYLES ------------------------------------------------ */
  .item {
    margin-bottom: 2.5rem;
  }
  .product-images img {
    margin-bottom: 1.5rem;
  }
  .thumbnail-list .image-thumbnail {
    /*float: left;
    margin-right: 1rem;
    width: 50px;*/
  }
  .item input[type="submit"] {
    margin-top: 25px;
  }
  /*------------------------------------------------ FOOTER STYLES ------------------------------------------------ */
  .footer {
    font-size: 90%;
    height: 150px;
    position: absolute;
  }
  footer #copyright {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  /*------------------------------------------------ NAVIGATION STYLES ------------------------------------------------ */
  /*.dropdown-menu > li > a {
    color: @text-color;
}*/
}