@model Gartenkraft.ModelsForViews.MenuModel


@foreach (var link in Model.ProductLines)
{
    <li class="dropdown">
        @*@Html.ActionLink(link.product_line_name, "Menu", "Nav", null, new Dictionary<string, object> { {"class", "dropdown-toggle"}, {"data-toggle", "dropdown" }, {"aria-haspopup", "true"}, {"aria-expanded", "false"} })*@
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@link.product_line_name<span class="caret"></span></a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            @foreach (var sublink in link.Categories)
            {
                <li class="dropdown">
                    @Html.ActionLink(sublink.category_name, "ProductsByCategory", "Product", new { categoryID = sublink.category_id }, new Dictionary<string, object> { { "class", "dropdown-toggle" }, { "data-toggle", "dropdown" }, { "aria-haspopup", "true" }, { "aria-expanded", "false" } })
                    <a href="@Url.Action("ProductsByCategory", "Product", new { categoryID = sublink.category_id })" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@sublink.category_name<span class="caret"></span></a>
                </li>
            }
        </ul>
    </li>
}




